SHELL=/bin/bash
# Run python script at 7:30 AM every morning
30 7 * * * cd /app && /usr/local/bin/python /app/src/main.py > /proc/1/fd/1 2>&1


# To test
# SHELL=/bin/bash
# # Run the python script every minute
# * * * * * cd /app && /usr/local/bin/python /app/src/main.py > /proc/1/fd/1 2>&1
